html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000000;
  }

canvas {
display: block;
}

/* Blur overlay */
#blur-overlay {
    position: fixed;
    inset: 0;
    z-index: 10;

    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    background: rgba(0, 0, 0, 0.25);

    animation: blurFadeOut 0.5s cubic-bezier(.22,1,.36,1) forwards;
    animation-delay: 0.5s;

    pointer-events: none;
}

@keyframes blurFadeOut {
  to {
      opacity: 0;
      backdrop-filter: blur(0px);
      -webkit-backdrop-filter: blur(0px);
  }
}

#skip-button {
    position: fixed;
    bottom: 20px;
    right: 20px;

    z-index: 9999; /* ensure it's above the blur overlay */
    opacity: 0;
    pointer-events: none;

    padding: 10px 16px;
    font-family: monospace;
    font-size: 14px;

    background: black;
    color: white;
    border: 1px solid white;
    transition: opacity 240ms ease;
    cursor: pointer;
}

/* Visible state */
#skip-button.visible {
    opacity: 1;
    pointer-events: auto;
}